@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 570px )
  // header
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  
  // hero-section
  .hero
    padding-top: 3.7rem
    &__scroll-down
      display: none
    &__title
      max-width: 22.86rem
    &__text
      max-width: 22.86rem
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem
  .row
    flex-direction: column
    align-items: center
  
  // projects-section
  .col
    &-50
      width: 100% !important
  .swiper
    &__text
      padding-bottom: 2.2rem
    &-slide
      &__text
        margin-right: 3.57rem
      &__img
        margin-top: 4.3rem

  // control-section 
  .control
    background-color: $dark
    color: $light
    &__text
      margin-bottom: 2.86rem
    &__button
      width: 98%
      order: 4
    &__input
      &::placeholder
        color: $light
      &-group
        flex-basis: 100%
        margin-top: 2rem
        &::after
          content: ''
          height: 1px
          width: 100%
          color: $light
          background-color: $light
    &__label
      padding-bottom: 0.72rem
    &__name
      order: 1
    &__phone
      order: 2
    &__policy
      order: 3
  .video
    &__play
      width: 5rem
      height: 5rem
  // types-section
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
    &__title
      color: $dark
  
  // design-section
  .design
    background-color: $dark
    color: $light
    padding-bottom: 1.5rem
    &__card
      margin-bottom: 5rem

  // footer
  .footer
    &__wrap
    background-color: $dark
    padding: 0
    width: 100%
    &__container
      width: 100%
    &__title
      margin-bottom: 4.2rem
    &__input
      &-group
        margin-bottom: 5.3rem
        flex-basis: 100%
        &::after
          content: ''
          height: 1px
          width: 100%
          color: $light
          background-color: $light
        &--full-width
          margin-bottom: 1.3rem
    &__policy
      margin-top: -1rem
      margin-bottom: 5rem
    &__button
      width: 100%

    &__map
      flex-basis: 95%
      order: 1
      // height: 18.21rem
      box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15)
    &__menu
      display: none
  .address
    &__text
      font-size: 18px
      line-height: 138.6%
      order: 2
    &__icons
      order: 3
    &__image-icon
      width: 39px
      height: 39px
      
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
  

  