.footer
  background: $dark url('../img/footer-bg.jpg') no-repeat center/cover
  padding-top: 3rem
  &__wrap
    background: $black url('../img/footer-bg-lines.png') no-repeat center/cover
    max-width: 63.07rem
    margin: auto
    margin-bottom: 3.714rem
    // margin-top: -20rem
    padding: 2.5rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.428rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.142rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.2rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.6rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0
    position: relative
  &__address
    margin: auto
    margin-bottom: 2rem
    display: flex
    flex-wrap: wrap
    color: $primary
    font-family: 'Yeseva One', cursive
    font-size: 1.4rem
    font-weight: normal
    line-height: 2rem
    text-align: center
    text-transform: uppercase
  &__scroll-up
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    left: 0
    bottom: 0
    margin-bottom: 10rem
    min-width: 17.6rem
    min-height: 6.92rem
    background-color: $dark
    text-transform: uppercase
    font-weight: normal
    color: $light
    text-decoration: none
    z-index: 9
    &::after
      content: ''
      background: url('../img/arrow-down.svg') no-repeat center
      transform: rotate(180deg)
      width: 30px
      height: 30px
      border: 2px solid $primary
      border-radius: 50%
      margin-left: 12px
  
.address
  &__text
    flex-basis: 40% 
    margin: auto
    &--phone
      color: $primary
      text-transform: uppercase
      text-decoration: none
      font-weight: normal
  &__icons
    flex-basis: 100%
    margin-top: 1.428rem
  &__image-icon
    margin-right: -0.357rem
  &__map
    flex-basis: 75%
    margin: auto
    margin-top: 2rem
    margin-bottom: 2rem
    filter: grayscale(100%)
    filter: gray